doctype html
html(lang="en")
  head
    title Pet-project todos
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    link(rel="stylesheet", src='https://yarnpkg.com/en/package/normalize.css')
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap", rel="stylesheet")
  body.bg-light.d-flex.flex-column.min-vh-100
    .bg-light.d-flex.flex-column.min-vh-100#root
