doctype html
html(lang="en")
  head
    title Pet-project todos
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
  body.h-100.bg-light
    .h-100
      .h-100#root