@import "./variables.scss";
@import "components/navbar/navbar.scss";
@import "components/footer/footer.scss";
@import "components/contentWrapper/contentWrapper.scss";
@import "components/spinner/spinner.scss";
@import "components/leftMenu/leftMenu.scss";
@import "components/ToDo/todo.scss";
@import "components/task/task.scss";

$main-font-family: 'Open Sans', sans-serif;
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 1rem;
  font-family: $main-font-family;
}
label {
  display: inline-block;
}
ul {
  margin-top: 0;
}
h1 {
  margin-top: 0;
  font-weight: 600;
  line-height: 1.2;
}
h4 {
  margin: 0;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
footer {
  position: sticky;
  bottom: 0;
  background-color: $bg-light-color;
}
.card-footer {
  padding: 0.5rem 1rem;
  background-color: $card-bg-color;
  border-top: 1px solid rgba(0,0,0,0.125);
}

.bg-light {
  background-color: $bg-light-color;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-grow-1 {
  flex-grow: 1;
}
.min-vh-100 {
  min-height: 100vh;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-top: 0;
}
.flex-row {
  flex-direction: row;
}
.bg-white {
  background-color: #fff;
}
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}
.container {
  width: 100%;
  padding-right: $bs-gutter-x;
  padding-left: $bs-gutter-x;
  margin-right: auto;
  margin-left: auto;
}
.main-content-wrapper {
  flex-grow: 1;
  background-color: #fff;
  margin-left: 220px;
}
.container-fluid {
  width: 100%;
  padding-right: $bs-gutter-x;
  padding-left: $bs-gutter-x;
  margin-right: auto;
  margin-left: auto;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card-bg-color;
  background-clip: border-box;
  border: 1px solid $card-border-color;
  border-radius: 0.3rem;
  flex-wrap: wrap;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem;
}
.form-floating {
  position: relative;

}
.form-floating>.form-control {
  height: calc(3.5rem + 2px);
  padding: 1rem 0.75rem;
}
.form-floating>.form-control:focus ~ label, .form-floating>.form-control:not(:placeholder-shown) ~ label {
  opacity: .65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating>label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out,transform 0.1s ease-in-out;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $form-text-color;
  background-color: $form-bg-color;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.form-control:focus::placeholder {
  color: transparent;
}
.form-floating>label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out,transform 0.1s ease-in-out;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.page {
  width: 100%;
  padding: 2rem 5rem;
  max-width: 800px;
  align-self: center;
}
.add-task {
  color: grey;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  white-space: nowrap;
  background-color: transparent;
  border: none;

  &:hover {
    background-color: #eee;
    border-radius: 0.5rem;
  }
}
.view-header {
  display: flex;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  h1 {
    border-radius: 5px;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 25px;
    overflow: hidden;
  }
}
.view-header__content {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: flex-start;
}
.task-list-item {
  position: relative;
  &:hover .view-actions {
    display: flex;
  }
}
.view-actions {
  display: none;
  margin-left: auto;
  position: absolute;
  right: 10px;
  top: 10px;
  align-items: center;
  color: #333;
}
.actions-item {
  font-size: 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: grey;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 3px 5px;
  background-color: $actions-bg-color;
  &:hover {
    background-color: $actions-hover-bg-color;
    color: $actions-hover-color;
  }
  &:not(:last-child) {
    margin-right: 5px;
  }
}
.listbox {
  margin: 0 auto;
}
.listbox-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.labels-list {
  padding: 5px;
  .control-tag {
    font-size: 0.8rem;
  }
}
.label-link {
  padding: 3px 5px;
  text-decoration: none;
  color: inherit;
  background-color: #cdcdcd;
  border-radius: 5px;
  &:hover {
    color: #5454e3;
    font-weight: bold;
  }
}
.label-item {
  padding: 3px 5px;
  color: inherit;
  background-color: #cdcdcd;
  border-radius: 5px;
  cursor: pointer;
}
.label-search {
  margin-right: 10px;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
}
.current-labels-list {
  margin-bottom: 8px;
}
.current-label {
  margin: 0 3px;
  background-color: #849581;
}
.label-item-disabled {
  cursor: default;
  background-color: #ff8d8d;
}
.form-label {
  margin-bottom: 0.5rem;
}
.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.form-control.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.invalid-feedback {
    display: none;
    width: 100%;
    margin: 0.2rem 0;
    font-size: .875em;
    color: #dc3545;
}
.is-invalid-form > .invalid-feedback {
    display: block;
}
.is-invalid-form > .btn-primary {
  margin-top: 0.7rem;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #2e68bd;
  border-color: #0d6efd;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}
btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
    pointer-events: none;
    opacity: .65;
}
.p-5 {
  padding: 3rem;
}
.mr-auto {
  margin-right: auto;
}
.align-content-center {
  align-content: center;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cookie-consent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #8fc4cb;

  p {
    font-weight: bold;
  }
  button {
    font-weight: 700;
    color: white;
    padding: 5px 15px 7px;
    text-decoration: none;
    border: 1px solid #6eaf66;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    &:hover {
      background: rgb(53, 167, 110);
    }
    &:active {
      background: rgb(33,147,90);
      box-shadow: 0 3px rgb(33,147,90) inset;
    }
  }
}

@import "components/modals/modals.scss";

.justify-content-center {
  justify-content: center;
}
.h-100 {
  height: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.pt-3 {
  padding-top: 1rem;
}
.pt-4 {
  padding-top: 1.5rem;
}
.p5 {
  padding: 3rem;
}
.border-top {
  border-top: 1px solid #94b4d5;
}
.w-100 {
  width: 100%;
}
.text-center {
  text-align: center;
}
.tdn {
  text-decoration: none;
}
.align-items-center {
  align-items: center;
}
.small {
  font-size: 0.9rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.card-footer a:visited {
  color: #0d6efd;
}
.fade {
  display: none;
}
.show {
  display: flex;
}
.form-fast-add-task {
  display: flex;
  flex-direction: column;
  button {
    margin-right: 0.6rem;;
  }
}
.add-task-field {
  width: 100%;
  resize: none;
  outline-color: #d5d5d5;
  border-color: #d9d8d8;
}
.form-fast-add-task-buttons {
  .btn {
    &:first-child {
      margin-right: 7px;
    }
  }
}
.priority-tag {
  padding: 9px 6px;
  border-radius: 4px;
}
.priority-tag-4 {
  background-color: #bae073;
}
.priority-tag-3 {
  background-color: #91d2f0;
}
.priority-tag-2 {
  background-color: #fcf04e;
}
.priority-tag-1 {
  background-color: #f67077;
}

@media (min-width: 576px) {
  .container {
  max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66667%;
}
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  h1 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
}
}

@media (min-width: 1400px) {
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
