$bs-gutter-x: 2rem;
$card-bg-color: rgba(0,0,0,0.03);
$bg-light-color: #cbe5e9;
$card-border-color: #879eb50f;
$form-bg-color: #fff;
$form-text-color: #212529;
$actions-hover-color: #202020;
$actions-bg-color: #d7d6d6;
$actions-hover-bg-color: #bfb9b9;
$task-border-color: #eee;
$circle-border-color: #dcdcdc;
$black: black;
$btn-close-color: $black;
$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");