$bs-gutter-x: 2rem;
$card-bg-color: rgba(0,0,0,0.03);
$bg-light-color: #cbe5e9;
$card-border-color: #879eb50f;
$form-bg-color: #fff;
$form-text-color: #212529;
$actions-hover-color: #202020;
$actions-hover-bg-color: #eee;
$task-border-color: #eee;
$circle-border-color: #dcdcdc;